# build and commit the dist folder after successful CI
name: CI build

on:
  workflow_run:
    workflows:
      - 'CI'
    types:
      - 'completed'

jobs:
  on-success:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'master' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      # build dist folder
      - run: npm ci
      - run: npm run build

      # set git config for release-it
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # create github release with tags and changelog
      # dist files are included via before:git:release hook in .release-it.json
      - run: npm run release -- --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
        id: release

      # commit dist separately if release-it didn't create a release
      - name: Commit dist if needed
        run: |
          if [ -n "$(git status --porcelain dist)" ]; then
            git add dist --force
            git commit -m "chore: update dist"
            git push
          fi
