# build and commit the dist folder after successful CI
name: CI build

on:
  workflow_run:
    workflows:
      - 'CI'
    types:
      - 'completed'

jobs:
  on-success:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'master' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      # build dist folder
      - run: npm ci
      - run: npm run build


      # NOTE: doesn't work if `git add dist --force` is removed
      - run: git add dist --force
      - run: git status

      # commit and push dist folder
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: CI build
          file_pattern: dist
          add_options: '--force'

      # create github release with tags and changelog
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: npm run release -- --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
